

<div class="jumbotron">
    <h1>TalkHome CMS</h1>
    <p class="lead">Welcome to Talk Home App Carousel.</p>
    <p><a href="https://www.talkhomeapp.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@Scripts.Render("~/bundles/jquery")